<h2>Totaly Twitter</h2>

<!-- Loop through all the posts you get from
     the controller. Title goes in an h3 tag.
     The content goes in a p tag. -->


     
<form accept-charset="UTF-8" action="/clients" method="post">
  <input type="text" name="posts[content]" value="Insert text" />
 
</form>